<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>bithumb</h1>
    <h>BCT</h>
     <p>sell price : {{.ticker.Data.BCH.SellPrice}} KRW <br/>
     buy price : {{.ticker.Data.BCH.BuyPrice}} KRW</p>

    <h>ETH</h>
    <p>sell price : {{.ticker.Data.ETH.SellPrice}} KRW<br/>
     buy price : {{.ticker.Data.ETH.BuyPrice}} KRW</p>

    <h>DASH</h>
    <p>sell price : {{.ticker.Data.DASH.SellPrice}} KRW<br/>
      buy price : {{.ticker.Data.DASH.BuyPrice}} KRW</p>
    
    <h>LTC</h>
    <p> sell price : {{.ticker.Data.LTC.SellPrice}} KRW<br/>
      buy price : {{.ticker.Data.LTC.BuyPrice}} KRW</p>

    <h>ETC</h>
    <p>sell price : {{.ticker.Data.ETC.SellPrice}} KRW<br/>
     buy price : {{.ticker.Data.ETC.BuyPrice}} KRW</p>

    <h>XRP</h>
    <p> sell price : {{.ticker.Data.XRP.SellPrice}} KRW<br/>
     buy price : {{.ticker.Data.XRP.BuyPrice}} KRW</p>

    <h>BCH</h>
    <p>sell price : {{.ticker.Data.BCH.SellPrice}} KRW<br/>
    buy price : {{.ticker.Data.BCH.BuyPrice}} KRW</p>

    <h>XMR</h>
    <p>sell price : {{.ticker.Data.XMR.SellPrice}} KRW<br/>
     buy price : {{.ticker.Data.XMR.BuyPrice}} KRW</p>

    <h>ZEC</h>
    <p>sell price : {{.ticker.Data.ZEC.SellPrice}} KRW<br/>
    buy price : {{.ticker.Data.ZEC.BuyPrice}} KRW</p>

    <h>QTUM</h>
    <p>sell price : {{.ticker.Data.QTUM.SellPrice}} KRW<br/>
     buy price : {{.ticker.Data.QTUM.BuyPrice}} KRW</p>

    <h>BTG</h>
    <p>sell price : {{.ticker.Data.BTG.SellPrice}} KRW<br/>
    buy price : {{.ticker.Data.BTG.BuyPrice}} KRW</p>

    <h>EOS</h>
    <p>sell price : {{.ticker.Data.EOS.SellPrice}} KRW<br/>
     buy price : {{.ticker.Data.EOS.BuyPrice}} KRW</p>

     <h3>거래내역:</h3>
     <h2>{{.order.Data.BTC.OrderCurrency}}</h2>
     {{range .order.Data.BTC.Sell}}
        <p>price : {{.Price}}</p>
        <p>Quantity : {{.Quantity}}</p>
     {{end}}
     
</body>
</html>